<div class="row">
  <div class="col-sm-11">
    <%= form_for(zabydovnuk) do |f| %>
      <% if zabydovnuk.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(zabydovnuk.errors.count, "error") %> prohibited this zabydovnuk from being saved:</h2>

          <ul>
          <% zabydovnuk.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, :class => "form-control inputmask" %>
      </div>

      <div class="field">
        <%= f.label :years_on_market %><br/>
        <%= f.number_field :years_on_market, :class => "form-control inputmask" %>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>
      </div>
    <% end %>
  </div>
</div>
