<p id="notice"><%= notice %></p>

<h1>Zabydovnuks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Years on market</th>
      <th>Projects count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zabydovnuks.each do |zabydovnuk| %>
      <tr>
        <td><%= zabydovnuk.name %></td>
        <td><%= zabydovnuk.years_on_market %></td>
        <td><%= zabydovnuk.projects_count %></td>
        <td><%= link_to 'Show', zabydovnuk %></td>
        <td><%= link_to 'Edit', edit_zabydovnuk_path(zabydovnuk) %></td>
        <td><%= link_to 'Destroy', zabydovnuk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zabydovnuk', new_zabydovnuk_path %>
