<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
            	<li class="text-muted menu-title">Navigation</li>    
                <%= menu_link_to(people_path, "People","Люди") %>
                <%= menu_link_to(yurists_path, "Yurist","Юридические лица") %>
                <%= menu_link_to(physicals_path, "Physical","Физические лица") %>
                <%= menu_link_to(projects_path, "Project","Проекты") %>
                <%= menu_link_to(zabydovnuks_path, "Zabydovnuk","Застройщик") %>
                <%= menu_link_to(apartments_path, "Apartment","Квартиры") %>
                <%= menu_link_to(order_yurists_path, "OrderYurist","Заказы Юр. лиц") %>
                <%= menu_link_to(brokers_path, "Broker","Брокеры") %>
                <%= menu_link_to(orders_path, "Order","Заказы Физ. лиц") %>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>
