<%= form_for(order_yurist) do |f| %>
  <% if order_yurist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_yurist.errors.count, "error") %> prohibited this order_yurist from being saved:</h2>

      <ul>
      <% order_yurist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br/>
    <%= f.collection_select :project_id, @projects, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :apartment_id %><br/>
    <select name="order_yurist[apartment_id]" id="order_yurist_apartment_id">
      <%= render "projects/apartments_list" %>
    </select> 
  </div>

  <div class="field">
    <%= f.label :yurist_id %><br/>
    <%= f.collection_select :yurist_id, Yurist.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $("#order_yurist_project_id").change(function() {
    th = $(this);
    apartments = $("#order_yurist_apartment_id");

    $.ajax({
        dataType: 'HTML',
        type: 'GET',
        url: '/projects/upload_apartments',
        data: { "id": th.val() }, 
        success: function(data) {
          apartments.children().remove();
          apartments.append(data);
          apartments.focus();
        }
    })
  })
</script>
