<p id="notice"><%= notice %></p>

<h1>Yurists</h1>

<table id="datatable-buttons" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Person</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yurists.each do |yurist| %>
      <tr>
        <td><%= link_to yurist.person.name, yurist.person %></td>
        <td><%= yurist.status %></td>
        <td><%= link_to 'Show', yurist %></td>
        <td><%= link_to 'Edit', edit_yurist_path(yurist) %></td>
        <td><%= link_to 'Destroy', yurist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yurist', new_yurist_path %>
