<%= javascript_include_tag 'graphic' %>

<div class="datas" data-cont="<%= Order.all.group_by {|order| order.created_at.to_date }.to_json %>"></div>

<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table id="datatable-buttons" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Physical</th>
      <th>Broker</th>
      <th>Apartment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.physical.name, order.physical %></td>
        <td><%= link_to order.broker.name, order.broker %></td>
        <td><%= link_to order.apartment.project.name, order.apartment %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="row m-l-10 m-b-10"><%= link_to 'New Order', new_order_path %></div>
<br>

<h3>Orders statistic</h3>
<div id="combine-chart">
    <div id="order-stats" class="flot-chart" style="height: 320px;">
    </div>
</div>


