<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @order.physical.person.name %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @order.broker.name %>
</p>

<% @apartment = @order.apartment %>
<p>
	<strong>Project name:</strong>
	<%= @apartment.project.name %>
</p>
<p><strong>Номер квартиры:</strong> <%= @apartment.num %></p>
<p><strong>К-во комнат:</strong> <%= @apartment.room_count %></p>
<p><strong>Этаж:</strong> <%= @apartment.floor %></p>
<p><strong>Жилая площадь:</strong> <%= @apartment.living_square %></p>
<p><strong>Цена:</strong> <%= @apartment.price %></p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
