<%= form_for(physical) do |f| %>
  <% if physical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(physical.errors.count, "error") %> prohibited this physical from being saved:</h2>

      <ul>
      <% physical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br/>
    <%= f.collection_select :person_id, Person.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :passport %><br/>
    <%= f.text_field :passport %>
  </div>

  <div class="field">
    <%= f.label :card_number %><br/>
    <%= f.text_field :card_number %>
  </div>

  <div class="field">
    <%= f.label :born_date %><br/>
    <%= f.text_field :born_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
