<div class="row">
  <div class="col-sm-11">
    <%= form_for(physical) do |f| %>
      <% if physical.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(physical.errors.count, "error") %> prohibited this physical from being saved:</h2>

          <ul>
          <% physical.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :person_id %><br/>
        <%= f.collection_select :person_id, Person.all, :id, :name, {}, { :class => "form-control select2" } %>
      </div>

      <div class="field">
        <%= f.label :passport %><br/>
        <%= f.text_field :passport, :class => "form-control inputmask" %>
      </div>

      <div class="field">
        <%= f.label :card_number %><br/>
        <%= f.text_field :card_number, :class => "form-control inputmask" %>
      </div>

      <div class="field">
        <%= f.label :born_date %><br/>
        <%= f.text_field :born_date, :class => "form-control inputmask" %>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>
      </div>
    <% end %>
  </div>
</div>
