<% content_for :angularjsapp do %>
  <%= javascript_include_tag "app.js" %>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Apartments</h1>
<style type="text/css">th { cursor: pointer;} </style>
<table ng-controller="MainCtrl" id="datatable-buttons" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th ng-click="sortData('num')">Num</th>
      <th ng-click="sortData('project.name')">Project</th>
      <th ng-click="sortData('apartment_type')">Apartment type</th>
      <th ng-click="sortData('general_square')">General square</th>
      <th ng-click="sortData('living_square')">Living square</th>
      <th ng-click="sortData('floor')">Floor</th>
      <th ng-click="sortData('room_count')">Room count</th>
      <th ng-click="sortData('price')">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="apartment in apartments | orderBy:sortName:sortDirection">
      <td>{{ apartment.num }}</td>
      <td><a href="/projects/{{apartment.project.id}}">{{ apartment.project.name }}</a></td>
      <td>{{ apartment.apartment_type }}</td>
      <td>{{ apartment.general_square }}</td>
      <td>{{ apartment.living_square }}</td>
      <td>{{ apartment.floor }}</td>
      <td>{{ apartment.room_count }}</td>
      <td>{{ apartment.price }}</td>
      <td><a href="/apartments/{{apartment.id}}">Show</a></td>
      <td><a href="/apartments/{{apartment.id}}/edit">Edit</a></td>
      <td><a href="/apartments/{{apartment.id}}" data-method="delete" data-confirm="Are you sure?">Destroy</a></td>
    </tr>
  </tbody>
</table>

<p><strong>Average General square:</strong> <%= Apartment.average(:general_square) %></p>
<p><strong>Average Living square:</strong> <%= Apartment.average(:living_square) %></p>
<p><strong>Average Room count:</strong> <%= Apartment.average(:room_count) %></p>
<p><strong>Average Price:</strong> <%= Apartment.average(:price) %></p>

<br>

<%= link_to 'New Apartment', new_apartment_path %>
