<!DOCTYPE html>
<html>
  <head>
    <title>Брокерское агенство</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if params[:action] == "index" %>
  		<%= stylesheet_link_tag 'datatable' %>
	<% end %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  </head>

  <%= yield(:angularjsapp) if content_for?(:angularjsapp) %>
  
  <body class="fixed-left" <% if content_for?(:angularjsapp) %> ng-app="main"<% end %>>
  	<div id="wrapper">
  		<%= render "partials/menu" %>

	  	<div class="center">
	   		<%= yield %>
	   	</div>
	</div>
  </body>
</html>
